:root {
  --color1: #b30000;
  --color2: #7d0000;
  --color3: #ffbfbf;
  --color4: #ff8080;
  --color5: #ff8080;
  --background-color: #e8e8e8;
}

body {
  min-height: 100vh;
  margin: 0px;
  background-color: var(--background-color);
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  color: whitesmoke;
  background-color: var(--color2);
}

.navbar nav {
  background-color: #b30000;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.navbar h1 {
  margin: 15px;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: var(--color5);
  font-size: 1.5rem;
  list-style: none;
  text-decoration: none;
  padding-right: 5px;
  padding-left: 15px;
  padding: 5px 5px 5px 5px;
  margin: 0px;
}

nav a.active {
  background-color: var(--color2);
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  overflow: hidden;
  margin: 15px;
  background-color: white;
  border-radius: 6px;
  padding: 0.4em;
  width: 20%;
}

.item img {
  width: 100%;
  height: auto;
  border-radius: 6px 6px 0 0;
}

.item img:hover {
  transform: scale(0.97);
}

.item p {
  text-align: center;
}

#react-modal-image-img {
  max-width: 90vw;
  max-height: 90vh;
  width: fit-content;
  height: fit-content;
}

.country h1 {
  margin: 10px 0px 0px 50px;
  color: var(--color1);
}

.country h2 {
  margin: 10px 0px 0px 50px;
  color: var(--color2);
}

.add-form {
  display: flex;
  flex-direction: column;
}

.add-form input {
  margin: 10px;
}

.add-form-select {
  margin: 10px;
}

.add-form-select img {
  height: 20vh;
}

.add-form span {
  color: red;
}

.admin-dropdown {
  margin-left: auto;
  padding: 5px 5px 5px 5px;
}

.admin-dropdown span {
  color: var(--color5);
  font-size: 1.5rem;
  cursor: pointer;
}

.admin-dropdown-content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: var(--color1);
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 4px 16px;
  right: 0;
  margin-top: 5px;
}

.admin-dropdown-content a {
  display: flex;
}

.admin-dropdown:hover .admin-dropdown-content {
  opacity: 1;
  visibility: visible;
}

.admin-dropdown:hover {
  background-color: var(--color2);
}

.emailContainer {
  border: 3px solid black;
  display: block;
  margin: 20px 20px;
  padding: 20px;
  font-size: 2em;
}